/* a table representing a dataframe */
table.dataframe {
    font-size: 20pt;
}

/* a normal table */
div.rendered_html table {
    font-size: 20pt;
}

/* any output image */
div.output_area img {
    width: 65%;
}

/* list container side-by-side*/
.image-txt-container {
  display:flex;
  align-items:center;
  flex-direction: row;
}


.reveal .slides { height: 100%; margin-bottom:50px}
